<section class="hero is-info is-medium">
  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/apps">Apps</a></li>
          <li><a href="/directions">Directions</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>